/*Hero Section START*/
.hero__sec {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  gap: clamp(5px, 2vw, 30px);
  margin: 0px auto;
  position: relative;
}
.hero__sec_left {
  display: flex;
  align-items: flex-end;
  background-color: #e0e0e0;
  border-radius: 10px;
}
.hero__sec_right {
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: clamp(30px, 5vw, 72px);
  padding-right: clamp(30px, 5vw, 71px);
  background-color: #e0e0e0;
  border-radius: 10px;
}
.hero__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18.5px;
}
.hero__h1 {
  margin: 0px;
  font-weight: 500;
  font-size: clamp(50px, 5vw, 91px);
  line-height: clamp(50px, 5vw, 91px);
  color: #484848;
}
.hero__h2 {
  margin: 0px;
  font-weight: 500;
  font-size: clamp(120px, 10vw, 187px);
  line-height: clamp(120px, 10vw, 187px);
  color: transparent;
  -webkit-text-stroke: 1px #484848;
}
.hero__h3 {
  margin: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #484848;
}
.hero__btn {
  font-weight: 500;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
  padding: 17px 58px;
  border-radius: 10px;
}
.button-hovered {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.hero__btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.hero__left,
.hero__right,
.hero__top,
.hero__bottom {
  width: 100%;
}

.hero_butons {
  display: flex;
  gap: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}
.hero_icon_btn {
  display: none;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  width: 56px;
  height: 56px;
}
.hero_vector_btn {
  display: none;
  background-color: #ffffff;
  border: solid 1px #000000;
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .hero__sec {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Poppins", serif;
    background-color: #ffffff;
    margin: 0 auto;
  }

  .hero__sec_left,
  .hero__sec_right {
    width: 45%;
    aspect-ratio: 1 / 2;
    order: 2;
    padding: 0px;
    height: 100%;
  }
  .hero__sec_right {
    padding: 0px 30px;
  }
  .hero__div {
    order: 1;
    width: 100%;
  }
}

/*Hero Section END*/
.lightgray {
  background-color: #f8f8f8;
}

.gray {
  background-color: #dadada;
}

.darkgray {
  background-color: #484848;
}

.trusted-brands {
  background-color: #ffffff;
}

.container-brands {
  max-width: 200px;
  margin: 0 auto;
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.owl-item {
  width: auto !important;
}

.owl-carousel .item img {
  max-width: 196px;
  max-height: 32px;
  /* width: auto;
    height: auto; */
  transition: transform 0.3s;
}

.owl-carousel .owl-stage-outer {
  overflow: hidden;
}

/* [OC-08] - Create the deals of the month section - Start */
@font-face {
  font-family: "DigitalNumbers"; /* Name your font family */
  src: url(../fonts/DigitalNumbers.ttf); /* Locate the .ttf file within your directory*/
}

.deals-month {
  max-width: 1920px;
  max-height: 768px;
  background-color: #fff;
  margin: 100px auto;
  padding: 55px 0 145px 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.deals-month-header {
  text-align: left;
  width: 542px;
  height: 582px;
  padding: 20px;
}

.deals-month-header h1 {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-size: 46px;
}

.deals-month-header p {
  color: #8a8a8a;
  font-size: 1em;
  margin: 20px 0 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.buy-btn {
  background-color: black;
  color: white;
  padding: 20px 70px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 50px;
}

.countdown-text {
  text-align: center;
  margin: 0 15px 0 0;
}

.countdown-text h2 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #484848;
}

.timer {
  font-family: "DigitalNumbers", sans-serif; /* Use the font family */
  font-size: 32px;
  color: #484848;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 30px;
}
.days,
.hours,
.minutes,
.seconds {
  width: 72px;
  height: 72px;
  border: solid #fff;
  background-color: #fff;
  border-radius: 20px;
  align-content: center;
  box-shadow: 1px 1px 1px 1px #e1e1e1;
}
.days h3,
.hours h3,
.minutes h3,
.seconds h3 {
  margin-block: 0;
}
.timer-txt {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #484848;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.line-btn {
  margin: 24px;
  justify-self: right;
}

.left-btn,
.right-btn {
  background-color: #ffffff;
  border: white;
  padding: 24px;
  border-radius: 50%;
  box-shadow: 1px 1px #c2c2c2;
}

.products-area {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.product-one {
  display: flex;
  position: relative;
}

.product-one-discount {
  width: 220px;
  height: 130px;
  background-color: #ffffff;
  position: absolute;
  left: 24px;
  bottom: 24px;
  text-align: center;
}
.product-one-discount h2 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #484848;
}
.product-one-discount h3 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #484848;
}

.product-one-img {
  position: relative;
  width: 404px;
  height: 582px;
}
.product-one-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-two,
.product-three {
  width: 370px;
  height: 486px;
}
.product-two img,
.product-three img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* [OC-08] - Create the deals of the month section - End */

/* BELKIS-NO-17 */

.implement-section .title {
  text-align: center;
  font-family: Volkhov, serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 59.34px;
  margin: 0 auto;
  padding-top: 30px;
}

.implement-section .subtitle {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333;
  margin: auto;
}

.implement-section .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.implement-section #gallery img {
  width: 256px;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform 0.5s ease;
}

@media (max-width: 1000px) and (min-width: 768px) {
  .gallery img {
    width: 120%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .implement-section .gallery {
    flex-wrap: wrap;
  }

  .implement-section #gallery img {
    width: 100%;
    max-width: 256px;
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .implement-section .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .implement-section #gallery img {
    width: 100%;
    height: auto;
  }
}

/* BELKIS-NO-17 */

/* The Features Banner Section START */
.features-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1281px;
}

.ftr-card {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.ftr-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Poppins;
}

.ftr-card-body > h3 {
  font-size: clamp(18px, 4vw, 20px);
  font-weight: 500;
  line-height: clamp(26px, 6vw, 30px);
}

.ftr-card-body > p {
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 400;
  line-height: clamp(22px, 6vw, 26px);
}

@media (max-width: 1000px) {
  .features-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    justify-content: center;
    gap: 40px;
  }
  .ftr-card-body {
    align-items: center;
  }
  .ftr-card {
    width: 100%;
  }
}
/* The Features Banner Section END */
.newsletter-container {
  display: flex;
  height: 800px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 2250px;
}
.content {
  text-align: center;
  background-color: white;
  width: 631px;
  height: 431px;
  margin: 0 auto;
}
.content h1 {
  margin-bottom: 15px;
  color: #484848;
  text-align: center;
  font-family: "Volkhov", serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
.content p {
  margin-bottom: 20px;
  color: #8A8A8A;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  width: 620px;
}
input[type="email"] {
  width: 100%;
  color: #8A8A8A;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  padding: 12px;
  margin-bottom: 15px;
  width: 631px;
  height: 86px;
  border: 1px solid #FFF;
  box-shadow: 0px 163px 80px 0px rgba(0, 0, 0, 0.04), 0px 105.648px 46.852px 0px rgba(0, 0, 0, 0.03), 0px 62.785px 25.481px 0px rgba(0, 0, 0, 0.02), 0px 32.6px 13px 0px rgba(0, 0, 0, 0.02), 0px 13.281px 6.519px 0px rgba(0, 0, 0, 0.02), 0px 3.019px 3.148px 0px rgba(0, 0, 0, 0.01);
}
button {
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 207px;
  height: 56px;
  border-radius: 10px;
  background: #000;
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
 
}
button:hover {
  background-color: #333;
  transform: scale(1.03);
}
button:active {
  background-color: #555;
  transform: scale(1);
}

.model-container{
  max-height: 100%;
  object-fit: cover;
  
}
.model-left {
  align-self: flex-end;
  background: none;
  mix-blend-mode: multiply;
  padding-left: 40px;
  margin: 0 auto;
}
.model-right {
  align-self: flex-end;
  padding-right: 40px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .newsletter-container{
      width: 830px;
      height: 1400px;
      flex-wrap: wrap;
  
  }
  .model-container {
      display: flex;
      justify-content: space-between;
  }
  .model-left .model-right{
      width: 45%;
      height: 200px;
      margin: 0 5px;
  }
  
  .content {
      order: 1;
  }
  .content p {
      font-size: 21px;
  }

}
